<div class="container">
    <div class="row">
      <div class="col-md-4 mascota-card" *ngFor="let mascota of mascotas"  
        (click)="onMascotaClick(mascota)"  [ngClass]="{'clicked': mascota.clicked}">
        <div class="card">
          <img  src="../../../assets/img/pInicio3.png" class="card-img-top" alt="Imagen de {{ mascota.nombre }}">
          <div class="card-body">
            <h5 class="card-title">{{ mascota.nombre }}</h5>
            <p class="card-text">Edad: {{ mascota.edad }}</p>
            <p class="card-text">Raza: {{ mascota.raza }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>