<div class="container-fluid bg-dark">
    <h2 style="text-align: center; height:50px; vertical-align: middle;" class="text-white">
        Información Vacuna
    </h2>
</div>

<mat-dialog-content>

    <div class="row">
        <div class="col-md-12">
            <p><b>Observación:</b> {{ vacuna.observaciones }}</p>
        </div>
    </div>

    <div class="row" style="justify-content: center;">

        <button mat-button class="btn btn-lg btn-primary px-3 d-none d-lg-block" (click)="volver()">
            Aceptar
        </button>
    </div>
</mat-dialog-content>